@charset "UTF-8";
/*Для всіх обнуляємо маргіни і падінги , коли вилазить за ел. щоб приховало*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Центруємо і ширину даємо , та стилі для тексту*/
body {
  width: 1170px;
  margin: 0 auto;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); }

h1 {
  font-size: 40px;
  margin-bottom: 20px; }

h2 {
  color: black;
  margin-bottom: 40px;
  text-align: center; }

p {
  line-height: 1.5; }

section {
  padding: 30px 0 50px; }

a {
  text-decoration: none; }

ul, li {
  list-style-type: none; }

button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: all .3s; }

/*Робим контейнер щоб центрувати контент в тиж секціях де потрібно*/
.container {
  width: 992px;
  height: auto;
  padding: 0 20px;
  margin: 0 auto; }

.header {
  padding: 0 90px;
  display: flex; }
  .header .logo {
    width: 200px;
    height: 50px; }
    .header .logo > img {
      width: 100%;
      height: 100%; }
  .header .header-navbar {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    background-color: #fff;
    width: 100%; }
    .header .header-navbar .navbar-nav {
      display: flex;
      width: 40%; }
      .header .header-navbar .navbar-nav li {
        flex-grow: 1;
        text-align: center; }
        .header .header-navbar .navbar-nav li a {
          width: 100%;
          height: 100%;
          display: inline-block;
          line-height: 50px;
          transition: all .3s;
          background-color: #fff;
          color: #777; }
          .header .header-navbar .navbar-nav li a:hover {
            background-color: #28B6E6;
            color: #fff; }
    .header .header-navbar .header-search {
      height: 50px;
      padding: 0 2px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .header .header-navbar .header-search img {
        height: 20px; }
        .header .header-navbar .header-search img:hover {
          transform: scale(1.2); }

.banner {
  padding: 80px 20px 80px 90px;
  background-color: #777;
  background-image: url("../images/avatar.png");
  background-repeat: no-repeat;
  background-position: 100% 100%; }
  .banner-content {
    width: 55%;
    text-align: center;
    color: #fff; }
  .banner-content button {
    padding: 10px 30px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    background-color: #28B6E6; }
    .banner-content button:hover {
      border-color: #28B6E6; }
    .banner-content button:active {
      border-color: #fff; }
  .banner-header {
    margin-bottom: 30px; }
    .banner-header p {
      font-size: 22px;
      line-height: inherit; }

.media {
  padding: 10px 20px 10px 90px;
  background-color: #fff;
  display: flex; }
  .media h3 {
    white-space: nowrap;
    line-height: 40px;
    text-transform: uppercase; }
  .media .media-nav {
    width: 100%;
    margin-left: 40px; }
    .media .media-nav ul {
      display: flex;
      justify-content: space-around; }
      .media .media-nav ul li {
        height: 40px;
        width: 110px;
        text-align: center; }
        .media .media-nav ul li a {
          width: 100%;
          height: 100%;
          display: block; }
          .media .media-nav ul li a img {
            width: 100%;
            height: 100%; }

.subscribe {
  background-color: #28B6E6;
  padding-left: 90px;
  padding-right: 20px; }
  .subscribe article {
    display: flex;
    color: #fff; }
  .subscribe section {
    padding: 0;
    flex: 50%; }

.subscribe-action h2 {
  color: #fff;
  margin-bottom: 15px;
  text-align: left; }
  .subscribe-action h2 span {
    color: #fff; }
.subscribe-action-nav li {
  width: 200px;
  height: 70px;
  display: inline-block;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); }
  .subscribe-action-nav li:nth-child(odd) {
    margin-right: 15px; }
  .subscribe-action-nav li a, .subscribe-action-nav li img {
    display: inline-block;
    width: 100%;
    height: 100%; }

.subscribe-content > p {
  margin-bottom: 15px;
  font-family: serif;
  font-size: 17px;
  letter-spacing: 1.5px; }
.subscribe-content .content-list {
  line-height: 1.7;
  margin-left: 20px; }
  .subscribe-content .content-list li {
    list-style: disc; }
    .subscribe-content .content-list li span, .subscribe-content .content-list li p {
      margin-left: -8px; }

.featured-guests {
  background: #fff; }
  .featured-guests h2 {
    color: none; }
    .featured-guests h2 span {
      color: #28B6E6; }
  .featured-guests .guests-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .featured-guests .guests-list .guests-item {
      width: 48%;
      display: flex; }
      .featured-guests .guests-list .guests-item:nth-child(-n+2) {
        margin-bottom: 50px; }
      .featured-guests .guests-list .guests-item img {
        width: 155px;
        height: 145px;
        background: #B8ABAB;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); }
        .featured-guests .guests-list .guests-item img:hover {
          box-shadow: 0px 0px 14px 0px rgba(179, 54, 220, 0.55);
          transform: scale(1.1); }
      .featured-guests .guests-list .guests-item .item-content {
        margin-left: 15px; }
        .featured-guests .guests-list .guests-item .item-content h3 {
          margin-bottom: 10px;
          color: #28B6E6; }
        .featured-guests .guests-list .guests-item .item-content p {
          color: #777; }

.how-to-consume {
  background-color: #777; }
  .how-to-consume h2 {
    color: none; }
    .how-to-consume h2 span {
      color: #28B6E6; }
  .how-to-consume .steps-list {
    display: flex;
    justify-content: space-around;
    padding: 10px; }
  .how-to-consume .steps-item {
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    background-color: #191919;
    border-radius: 50%; }
    .how-to-consume .steps-item:nth-of-type(2) {
      display: flex;
      justify-content: center;
      align-items: center; }
      .how-to-consume .steps-item:nth-of-type(2) p {
        padding: 0 15px;
        color: #fff;
        text-align: center;
        word-wrap: break-word; }
        .how-to-consume .steps-item:nth-of-type(2) p font {
          size: 20px;
          weight: bold; }
    .how-to-consume .steps-item img {
      width: 100%;
      height: 100%;
      border-radius: 50%; }

.latest-episodes {
  background: #191919; }
  .latest-episodes h2 {
    color: #fff; }
    .latest-episodes h2 span {
      color: #28B6E6; }
  .latest-episodes a {
    color: #28B6E6; }
  .latest-episodes .eposidests-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 10px; }
    .latest-episodes .eposidests-list .episodests-item {
      width: 23%; }
      .latest-episodes .eposidests-list .episodests-item img {
        width: 100%;
        height: 180px;
        background: #B8ABAB;
        margin-bottom: 20px;
        box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.55); }
        .latest-episodes .eposidests-list .episodests-item img:hover {
          transform: scale(1.1); }
      .latest-episodes .eposidests-list .episodests-item .episodests-item-content h3 {
        margin-bottom: 5px;
        color: #28B6E6; }
      .latest-episodes .eposidests-list .episodests-item .episodests-item-content p {
        color: #fff;
        margin-bottom: 5px; }
  .latest-episodes .more-episodes {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 15px;
    border: 1px solid #28B6E6;
    border-radius: 3px;
    color: #28B6E6; }
    .latest-episodes .more-episodes:hover {
      color: #5E0DAC;
      border-color: #5E0DAC; }
    .latest-episodes .more-episodes:active {
      color: #8D41D6;
      border-color: #8D41D6;
      transform: scale(1.1); }

.together-7-8 {
  background: #fff; }
  .together-7-8 .together-wraper {
    display: flex;
    justify-content: space-between; }
    .together-7-8 .together-wraper .popular-episodes-list {
      display: flex;
      width: 70%;
      flex-direction: column;
      padding: 0; }
      .together-7-8 .together-wraper .popular-episodes-list h2 {
        color: none;
        text-align: left;
        margin-bottom: 30px; }
        .together-7-8 .together-wraper .popular-episodes-list h2 span {
          color: #28B6E6; }
      .together-7-8 .together-wraper .popular-episodes-list:last-child {
        margin-bottom: 0; }
      .together-7-8 .together-wraper .popular-episodes-list .episodes-list-item {
        margin-bottom: 20px;
        display: flex; }
        .together-7-8 .together-wraper .popular-episodes-list .episodes-list-item img {
          width: 120px;
          height: 112px;
          background: #B8ABAB;
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); }
        .together-7-8 .together-wraper .popular-episodes-list .episodes-list-item .popular-item-content {
          margin-left: 20px; }
          .together-7-8 .together-wraper .popular-episodes-list .episodes-list-item .popular-item-content h3 {
            margin-bottom: 10px;
            color: #28B6E6; }
          .together-7-8 .together-wraper .popular-episodes-list .episodes-list-item .popular-item-content p {
            color: #777; }
    .together-7-8 .together-wraper .media-widgets {
      height: 625px;
      width: 27%; }
      .together-7-8 .together-wraper .media-widgets h3 {
        margin-bottom: 15px; }
        .together-7-8 .together-wraper .media-widgets h3 span {
          color: #28B6E6; }
      .together-7-8 .together-wraper .media-widgets .find-us {
        width: 100%;
        height: 100%; }
        .together-7-8 .together-wraper .media-widgets .find-us img {
          width: 100%;
          height: 100%;
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); }

.footer {
  background-color: #191919; }
  .footer .epilogue-footer {
    display: flex; }
    .footer .epilogue-footer article {
      padding-top: 0;
      padding-bottom: 0;
      flex: 50%; }
      .footer .epilogue-footer article p {
        color: #fff; }
  .footer .epilogue-content {
    text-align: left; }
    .footer .epilogue-content h2 {
      color: #fff;
      text-align: inherit; }
      .footer .epilogue-content h2 span {
        color: #28B6E6; }
    .footer .epilogue-content p {
      font-weight: 300; }
  .footer .epilogue-action {
    text-align: center;
    padding: 0 100px; }
    .footer .epilogue-action p {
      font-size: 25px;
      margin-bottom: 50px; }
    .footer .epilogue-action button {
      width: 100%;
      height: 40px;
      border: 2px solid #fff;
      border-radius: 5px;
      font-weight: bold;
      color: #fff; }
      .footer .epilogue-action button:hover {
        border-color: #28B6E6; }
      .footer .epilogue-action button:active {
        color: #28B6E6;
        border-color: #fff; }
  .footer .legalese {
    padding: 15px 0;
    background-color: #777;
    color: #fff;
    text-align: center; }

/*# sourceMappingURL=style.css.map */
