@charset "UTF-8";
/*Для всіх обнуляємо маргіни і падінги , коли вилазить за ел. щоб приховало*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/*Центруємо і ширину даємо , та стилі для тексту*/
body {
  width: 1170px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75); }
  body font {
    family: "Roboto", Helvetica, sans-serif;
    size: 16px;
    weight: normal; }

/*В всіх прикладах що в h2 то має 2 кольори та маргін знизу одинаковий для всіх секцій*/
h2 {
  margin-bottom: 40px;
  text-align: center;
  color: #191919; }

h2 span {
  color: #28B6E6; }

/*Для секцій паддінги*/
section {
  padding: 30px 0 50px; }

a {
  text-decoration: none; }

ul, li {
  list-style-type: none; }

button {
  border: none;
  background-color: transparent;
  outline: none; }

/*Робим контейнер щоб центрувати контент в тиж секціях де потрібно*/
.container {
  width: 992px;
  height: auto;
  padding: 0 20px;
  margin: 0 auto; }

.subscribe {
  background-color: #28B6E6;
  padding-left: 90px;
  padding-right: 20px; }
  .subscribe article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff; }
  .subscribe section {
    padding: 0;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%; }

.subscribe-action h2 {
  margin-bottom: 15px;
  text-align: left;
  color: #fff; }
.subscribe-action-nav li {
  width: 200px;
  height: 70px;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); }
  .subscribe-action-nav li:nth-child(odd) {
    margin-right: 15px; }
  .subscribe-action-nav li a, .subscribe-action-nav li img {
    display: inline-block;
    width: 100%;
    height: 100%; }

.subscribe-content > p {
  margin-bottom: 15px;
  font-family: serif;
  font-size: 17px;
  letter-spacing: 1.5px; }
.subscribe-content .content-list {
  line-height: 1.7;
  margin-left: 20px; }
  .subscribe-content .content-list li {
    list-style: disc; }
    .subscribe-content .content-list li span, .subscribe-content .content-list li p {
      margin-left: -8px; }

.featured-guests {
  background: #fff; }
  .featured-guests .guests-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .featured-guests .guests-list .guests-item {
      width: 48%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .featured-guests .guests-list .guests-item:nth-child(-n+2) {
        margin-bottom: 50px; }
      .featured-guests .guests-list .guests-item img {
        width: 150px;
        height: 142px;
        background: #B8ABAB;
        -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.55);
                box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.55); }
        .featured-guests .guests-list .guests-item img:hover {
          -webkit-box-shadow: 0px 0px 14px 0px rgba(179, 54, 220, 0.55);
                  box-shadow: 0px 0px 14px 0px rgba(179, 54, 220, 0.55);
          -webkit-transform: scale(1.1);
                  transform: scale(1.1); }
      .featured-guests .guests-list .guests-item .item-content {
        margin-left: 15px;
        padding-top: 10px; }
        .featured-guests .guests-list .guests-item .item-content h3 {
          margin-bottom: 10px;
          color: #28B6E6; }
        .featured-guests .guests-list .guests-item .item-content p {
          color: #777; }

.how-to-consume {
  background-color: #777; }
  .how-to-consume .steps-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 10px; }
  .how-to-consume .steps-item {
    width: 150px;
    height: 150px;
    background-color: #191919;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75); }
    .how-to-consume .steps-item:nth-of-type(2) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .how-to-consume .steps-item:nth-of-type(2) p {
        padding: 0 15px;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        word-wrap: break-word; }
    .how-to-consume .steps-item img {
      width: 100%;
      height: 100%;
      border-radius: 50%; }

.latest-episodes {
  background: #191919; }
  .latest-episodes h2 {
    color: #fff; }
  .latest-episodes a {
    color: #28B6E6; }
  .latest-episodes .eposidests-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 10px; }
    .latest-episodes .eposidests-list .episodests-item {
      width: 23%; }
      .latest-episodes .eposidests-list .episodests-item img {
        width: 100%;
        height: 180px;
        background: #B8ABAB;
        margin-bottom: 20px;
        -webkit-box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.55);
                box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.55); }
        .latest-episodes .eposidests-list .episodests-item img:hover {
          -webkit-transform: scale(1.1);
                  transform: scale(1.1); }
      .latest-episodes .eposidests-list .episodests-item .episodests-item-content h3 {
        margin-bottom: 5px;
        color: #28B6E6; }
      .latest-episodes .eposidests-list .episodests-item .episodests-item-content p {
        color: #fff;
        margin-bottom: 5px; }
  .latest-episodes .more-episodes {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 15px;
    border: 1px solid #28B6E6;
    border-radius: 3px;
    color: #28B6E6;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer; }
    .latest-episodes .more-episodes:hover {
      color: #5E0DAC;
      border-color: #5E0DAC; }
    .latest-episodes .more-episodes:active {
      color: #8D41D6;
      border-color: #8D41D6;
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }

.together-7-8 {
  background: #fff; }
  .together-7-8 .together-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .together-7-8 .together-wraper .popular-episodes-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 70%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0; }
      .together-7-8 .together-wraper .popular-episodes-list h2 {
        text-align: left;
        margin-bottom: 30px; }
      .together-7-8 .together-wraper .popular-episodes-list:last-child {
        margin-bottom: 0; }
      .together-7-8 .together-wraper .popular-episodes-list .episodes-list-item {
        margin-bottom: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .together-7-8 .together-wraper .popular-episodes-list .episodes-list-item img {
          width: 120px;
          height: 112px;
          background: #B8ABAB;
          -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.55);
                  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.55); }
        .together-7-8 .together-wraper .popular-episodes-list .episodes-list-item .popular-item-content {
          margin-left: 20px; }
          .together-7-8 .together-wraper .popular-episodes-list .episodes-list-item .popular-item-content h3 {
            margin-bottom: 10px;
            color: #28B6E6; }
          .together-7-8 .together-wraper .popular-episodes-list .episodes-list-item .popular-item-content p {
            color: #777; }
    .together-7-8 .together-wraper .media-widgets {
      height: 625px;
      width: 27%; }
      .together-7-8 .together-wraper .media-widgets h3 {
        margin-bottom: 15px; }
        .together-7-8 .together-wraper .media-widgets h3 span {
          color: #28B6E6; }
      .together-7-8 .together-wraper .media-widgets .find-us {
        width: 100%;
        height: 100%; }
        .together-7-8 .together-wraper .media-widgets .find-us img {
          width: 100%;
          height: 100%;
          -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
                  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75); }
