/*Для всіх обнуляємо маргіни і падінги , коли вилазить за ел. щоб приховало*/
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
/*Центруємо і ширину даємо , та стилі для тексту*/
body {
	width: 1170px;
	margin:0 auto;
    font-family:$font-main;
    font-size: 16px;
    font-weight: normal;
    @include shadowBlack();

}
h2 {
    color:black;
    margin-bottom: 40px;
    text-align: center;
}
p {
    line-height: 1.5;
}
section {
    padding: 30px 0 50px;
}
a {
	text-decoration: none;
}
ul, li {
    list-style-type: none;
}
button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: all .3s;
}
/*Робим контейнер щоб центрувати контент в тиж секціях де потрібно*/
.container {
	width:992px;
	height: auto;
	padding: 0 20px;
    margin: 0 auto;
}
