@mixin size100 {
    width:100%;
    height:100%;
}
@mixin size_pix($width,$height) {
    width:$width + px;
    height:$height + px;
}
//shadows
@mixin shadowBlack {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
