.banner {
    padding: 80px 20px 80px 90px;
    background: {
        color: $grey;
        image: url('../images/avatar.png');
        repeat: no-repeat;
        position: 100% 100%;
    }
    &-content {
        width: 55%;
        text-align: center;
        color:$white;
    }
    &-content button {
        padding:10px 30px;
        border:2px solid $white;
        border-radius:5px;
        color:$white;
        background-color: $blue;
        &:hover {
            border-color:$blue;
        }
        &:active {
            border-color: $white;
        }
    }
    &-header {
        margin-bottom: 30px;
        p {
            font-size: 22px;
            line-height: inherit;
        }
    }
}
