.featured-guests {
    background: $white;
    h2 {
        @include h2color(none,$blue)
    }
    .guests-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .guests-item {
            width: 48%;
            display: flex;
            &:nth-child(-n+2) {
                margin-bottom: 50px;
            }
            img {
                width: 155px;
                height: 145px;
                background: $lightG;
                @include shadowBlack();
                &:hover {
                    box-shadow: 0px 0px 14px 0px rgba(179,54,220,0.55);
                    transform: scale(1.1);
                }
            }
            .item-content {
                margin-left: 15px;
                h3 {
                    margin-bottom: 10px;
                    color:$blue;
                }
                p {
                    color: $grey;
                }
            }
        }
     }
}
