.how-to-consume {
    background-color: $grey;
    h2 {
        @include h2color(none,$blue);
    }
    .steps-list {
        display: flex;
        justify-content: space-around;
        padding: 10px;
    }
    .steps-item{
        @include size_pix(150,150);
        @include shadowBlack();
        background-color:$dark;
        border-radius: 50%;
        &:nth-of-type(2) {
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                padding: 0 15px;
                font {
                    size: 20px;
                    weight: bold;
                }
                color: $white;
                text-align: center;
                word-wrap: break-word;
            }
       }
       img {
           @include size100();
           border-radius: 50%;
       }
    }
}
