.together-7-8 {
    background: $white;
	.together-wraper {
        display: flex;
        justify-content: space-between;
	    .popular-episodes-list {
	        display: flex;
	        width: 70%;
	        flex-direction: column;
	        padding: 0;
	        h2 {
                @include h2color(none,$blue);
                text-align: left;
                margin-bottom: 30px;
            }
            &:last-child {
            	margin-bottom: 0;
            }
            .episodes-list-item {
                margin-bottom: 20px;
                display: flex;
                img {
                        /* Без max-width картинки звужувалисьб потрібна була перезагрузка*/
                    width: 100%;
                    max-width: 120px;
                    height: 112px;
                    background: $lightG;
                    @include shadowBlack();
                }
                .popular-item-content {
                    margin-left: 20px;
                    h3 {
                        margin-bottom: 10px;
                        color:$blue;
                        a {
                            color:$darkBlue;
                            &:hover {
                                color:$lightBlue;
                            }
                        }
                    }
                    p {
                        color: $grey;
                    }
                }
            }
	    }
	    .media-widgets {
	        height: 625px;
	        width: 27%;
	        h3 {
                margin-bottom: 15px;
                a {
                    color:$darkBlue;
                    &:hover {
                        color:$lightBlue;
                    }
                }
                
            }
            .find-us {
                @include size100();
                img {
                    @include size100();
                    @include shadowBlack();
                }
            }
	    }
	}
}
